*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
  }

.container{
    width:100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f4ef;
}


/* Title Section */

.header{
    display: block;
    justify-content: start;
    /* padding: 12px; */
    width: 40%;
    margin-top: 10px;
    /* margin-bottom: 5px; */
}

.title-container{
    margin-bottom: 30px;
}
.title{
    font-size:48px;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    font-size: 18px;
}

/* Nav Bar */
.nav-bar{
    background-color: black;
    border-radius: 5px;
    font-size: 0px;
    width: 41.1%;
    margin-bottom: 17px;
}

.option{
    color:white;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    font-size: 18px;
}

.option:first-of-type{
    background-color: #c74350;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
}
.option:hover{
    background-color: #c74350;
    cursor: pointer;
}


/* Featured */

.featured{
    background-color: #fff;
    width: 40%;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 15px;
}

.featured-text{
    display: block;
    width: 50%;
    padding-right: 10px;
}

.featured-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-header{
    color: #c74350;
    font-size: 36px;
    font-weight: bold;
}

.featured-subtext{
    font-size: 28px;
    width: fit-content;
}


.featured-description{
    font-size: 16px;
    margin-top: 10px;
}

.featured > .featured-text > .featured-description > .red-ul:hover {
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}

.featured-subtext:hover{
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}
/* Dates Section */

.dates-container{
    width:40%;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.date{
    display: inline-flex;
    border-bottom: .5px dotted black;
    padding-top: 10px;
    padding-bottom: 15px;
}

.date:last-of-type{
    border-bottom: none;
}

.date-author{
    display: block;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 18px;
    font-size: 14px;
    padding-top: 4px;
}

.date-title-para{
    margin-left: 18px;
    display: block;
}

.date-title{
    color: #c74350;
    font-size: 20px;
    font-weight: bold;
}

.date:hover{
    background-color: #c74350;
}

.date:hover .date-author  .dotted-ul, .date:hover .date-title-para .date-para{
    color: #fff;
}


.date:hover .date-author  .red-ul, .date:hover .date-title-para .date-title , .date:hover .date-title-para .red-ul {
    color: #f6cf74;
    cursor: pointer;
}
/* blogroll socials */

.blogroll-social-container{
    margin-top: 20px;
    width: 43.4%;
    margin-bottom: 25px;
    
}

.blogroll{
    width: 100%;
    align-content: left;
    
}
.blogroll > table > tbody > tr > td, .blogroll > table > tbody > tr > th{
    width: 25%;
    text-align: start;
    padding: 5px;
}

.blogroll > table > tbody > tr > td{
    border-bottom: 1px solid white;
    font-size: 13px;
    
}

.blogroll > table > tbody > tr > td:hover{
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}



.blogroll > table{
    border-spacing: 20px 0px;
    width: 100%;
    text-indent: 0;
}

/* FootNote */

.footnote{
    width: 40%;
    background-color: white ;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
}

.foot-label{
    width: 25%;
    margin-right: 25px;
}

.foot-label>.red-bold:hover{
    cursor: pointer;
    background-color: #c74350;
    color: #fff;
}
.foot-img{
    margin-right: 20px;
}

.foot-text{
    width: 75%;
    font-size: 16px;
}

.active-date{
    font-size: 12px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.active-date:hover .red-ul{
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}
/* Spans */
.red-ul{
    color: #c74350;
    text-decoration: underline;
}

.dotted-ul{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.red{
    color: #c74350;
}

.red-bold{
    color: #c74350;
    font-weight: bold;
}