*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    
}

html, body {
   
height: 100vh;
background-color: #f5f4ef;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container{
   
width:100%;
   
display: flex;
   
align-items: center;
   
flex-direction: column;
   
box-sizing: border-box;
   
/* height: 100vh; */
}


/* Title Section */

.header{
    display: block;
    justify-content: start;
    /* padding: 12px; */
    width: 800px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}


.title{
    font-size: 48px;
    font-weight: bold;
}

.subtitle{
    font-weight: 400;
    font-size: 18px;
}

/* Nav Bar */
.nav-bar{
    background-color: black;
    border-radius: 5px;
    font-size: 0px;
    width: 800px;
    /* height: 40px; */
    margin-bottom: 35px;
    /* box-sizing: border-box; */
}

.nav-bar > li{
    display: inline;
}
.option{
    color:white;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    font-size: 18px;
    /* height: 40px; */
    box-sizing: border-box;
}

.option:first-of-type{
    background-color: #c74350;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
}
.option:hover{
    background-color: #c74350;
    cursor: pointer;
}


/* Featured */

.featured{
    background-color: #fff;
    width: 800px;
    /* height: 119px; */
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.featured-text{
    display: block;
    width: 50%;
    padding-right: 10px;
}

.featured-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-header{
    color: #c74350;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.featured-subtext{
    font-size: 16px;
    width: fit-content;
}


.featured-description{
    font-size: smaller;
    margin-top: 10px;
    font-weight: bold;
}

.featured > .featured-text > .featured-description > .red-ul:hover {
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}

.featured-subtext:hover{
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}
/* Dates Section */

.dates-container{
    width:800px;
    /* height: 300px; */
    box-sizing: border-box;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 35px;
}

.date{
    display: inline-flex;
    border-bottom: .5px dotted black;
    padding-top:15px;
    padding-bottom: 15px; 
}

.date:last-of-type{
    border-bottom: none;
   
}


.date-author{
    display: block;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-right: 0px;
    /* font-size: 14px; */
    padding-top: 4px;
    font-size: smaller;
    font-weight: bold;
    padding-left: 4px;
}

.date-title-para{
    margin-left: 65px;
    display: block;
    
}

.date-title{
    color: #c74350;
    font-size: 20px;
    /* font-weight: bold; */
}

.date-para{
    font-size: smaller;
    font-weight: 550;
}


.date:hover{
    background-color: #c74350;
}

.date:first-of-type:hover{
    
}

.date:hover .date-author  .dotted-ul, .date:hover .date-title-para .date-para{
    color: #fff;
}


.date:hover .date-author  .red-ul, .date:hover .date-title-para .date-title , .date:hover .date-title-para .red-ul {
    color: #f6cf74;
    cursor: pointer;
}


/* blogroll socials */

.blogroll-social-container{
    
    width: 800px;
    /* height: 162px; */
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 45px;
    display: flex;
}

.blogroll-column{
    display: block;
    margin-right: 10px;
    width: 25%;
    font-size: smaller;
}

.blogroll{
    width: 100%;
    height: 225px;
    align-content: left;
    box-sizing: border-box;
    
}

.blogroll-label{
    display:block;
    padding: 5px;
    font-size: 18px;
}


.blogroll-column  a{
    display: block;
    border-bottom:1px solid white;
    padding: 5px;
}
.blogroll-column  a:hover{
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}

.blogroll-column:nth-of-type(2), .blogroll-column:nth-of-type(3){
    padding-top: 31px;
}

.blogroll-column:nth-of-type(1) a, .blogroll-column:nth-of-type(2) a, .blogroll-column:nth-of-type(3) a{
    padding-top: 6px;
    padding-bottom: 5px;
}

.blogroll-column > a img{
    margin-right: 5px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/* FootNote */


.footnote{
    width: 800px;
    /* height: 72px; */
    box-sizing: border-box;
    background-color: white ;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    min-width: 0;
    padding-top: 25px;
    padding-bottom: 25px;

}

.foot-label{
    width: 25%;
    margin-right: 25px;
    font-size: 18px;
}

.foot-label>.red-bold:hover{
    cursor: pointer;
    background-color: #c74350;
    color: #fff;
}
.foot-img{
    margin-right: 20px;
}

.foot-text{
    width: 75%;
    font-size: smaller;
    font-weight: bold;
}

.active-date{
    /* font-size: 12px; */
    width: 800px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    font-size: smaller;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.active-date .red-ul:hover{
    background-color: #c74350;
    color: #fff;
    cursor: pointer;
}
/* Spans */
.red-ul{
    color: #c74350;
    text-decoration: underline;
}

.dotted-ul{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.red{
    color: #c74350;
}

.red-bold{
    color: #c74350;
    font-weight: bold;
}

.space{
    margin-right: 3px;
}

address{
    font-style: normal;
}
/*
My window is ~10.86% wider and 27.76% shorter
width: 800px
between featured and dates: 30px
between navbar + featured: 34/35px
between dates + blogroll: 35px;
between blogroll + footer: 45px;

Juan Dimensions:
Featured: 800 x 165 ==> 800 x 119
Dates: 800 x 415 ==> 800 x 300
Footnote: 800 x 100
*/